{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %}</title>

    {% block static %}
      
    {% endblock static %}

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <!-- Simplebar -->
    <link type="text/css" href="{% static 'assets/vendor/simplebar.min.css'%}" rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" href="{% static 'assets/css/app.css'%}" rel="stylesheet">
    <link type="text/css" href="{% static 'assets/css/app.rtl.css'%}" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="{% static 'assets/css/vendor-material-icons.css'%}" rel="stylesheet">
    <link type="text/css" href="{% static 'assets/css/vendor-material-icons.rtl.css'%}" rel="stylesheet">

    <!-- Font Awesome FREE Icons -->
    <link type="text/css" href="{% static 'assets/css/vendor-fontawesome-free.css'%}" rel="stylesheet">
    <link type="text/css" href="{% static 'assets/css/vendor-fontawesome-free.rtl.css'%}" rel="stylesheet">

    <!-- ion Range Slider -->
    <link type="text/css" href="{% static 'assets/css/vendor-ion-rangeslider.css'%}" rel="stylesheet">
    <link type="text/css" href="{% static 'assets/css/vendor-ion-rangeslider.rtl.css'%}" rel="stylesheet">


    <!-- Flatpickr -->
    <link type="text/css" href="{% static 'assets/css/vendor-flatpickr.css'%}" rel="stylesheet">
    <link type="text/css" href="{% static 'assets/css/vendor-flatpickr.rtl.css'%}" rel="stylesheet">
    <link type="text/css" href="{% static 'assets/css/vendor-flatpickr-airbnb.css'%}" rel="stylesheet">
    <link type="text/css" href="{% static 'assets/css/vendor-flatpickr-airbnb.rtl.css'%}" rel="stylesheet">

    <!-- Vector Maps -->
    <link type="text/css" href="{% static 'assets/vendor/jqvmap/jqvmap.min.css'%}" rel="stylesheet">



</head>

<body class="layout-default">






    <div class="preloader"></div>

    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px" data-fullbleed>
        <div class="mdk-drawer-layout__content">

            <!-- Header Layout -->
            <div class="mdk-header-layout js-mdk-header-layout" data-has-scrolling-region>

                <!-- Header -->

                <div id="header" class="mdk-header js-mdk-header m-0" data-fixed data-effects="waterfall" data-retarget-mouse-scroll="false">
                    <div class="mdk-header__content">

                        <div class="navbar navbar-expand-sm navbar-main navbar-light bg-white  pr-0" id="navbar" data-primary>
                            <div class="container-fluid p-0">

                                <!-- Navbar toggler -->
                                <button class="navbar-toggler navbar-toggler-custom d-lg-none d-flex mr-navbar" type="button" data-toggle="sidebar">
                                    <span class="material-icons">short_text</span>
                                </button>

                                <!-- Navbar Brand -->
                                <a href="{% url 'dashboard' %}" class="navbar-brand flex ">
                                    <span>CRM</span>
                                </a>


                                <form class="ml-auto search-form search-form--light d-none d-sm-flex flex" action="index.html">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <button class="btn" type="submit" role="button"><i class="material-icons">search</i></button>
                                </form>


                                <ul class="nav navbar-nav d-none d-md-flex">
                                    <li class="nav-item dropdown">
                                        <a href="#notifications_menu" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
                                            <i class="material-icons nav-icon navbar-notifications-indicator">notifications</i>
                                        </a>
                                        <div id="notifications_menu" class="dropdown-menu dropdown-menu-right navbar-notifications-menu">
                                            <div class="dropdown-item d-flex align-items-center py-2">
                                                <span class="flex navbar-notifications-menu__title m-0">Notifications</span>
                                                <a href="javascript:void(0)" class="text-muted"><small>Clear all</small></a>
                                            </div>
                                            <div class="navbar-notifications-menu__content" data-simplebar>
                                                <div class="py-2">

                                                    <div class="dropdown-item d-flex">
                                                        <div class="mr-3">
                                                            <div class="avatar avatar-sm" style="width: 32px; height: 32px;">
                                                                <img src="{% static 'assets/images/256_daniel-gaffey-1060698-unsplash.jpg'%}" alt="Avatar" class="avatar-img rounded-circle">
                                                            </div>
                                                        </div>
                                                        <div class="flex">
                                                            <a href="">A.Demian</a> left a comment on <a href="">Stack</a><br>
                                                            <small class="text-muted">1 minute ago</small>
                                                        </div>
                                                    </div>
                                                    <div class="dropdown-item d-flex">
                                                        <div class="mr-3">
                                                            <a href="#">
                                                                <div class="avatar avatar-xs" style="width: 32px; height: 32px;">
                                                                    <span class="avatar-title bg-purple rounded-circle"><i class="material-icons icon-16pt">person_add</i></span>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="flex">
                                                            New user <a href="#">Peter Parker</a> signed up.<br>
                                                            <small class="text-muted">1 hour ago</small>
                                                        </div>
                                                    </div>
                                                    <div class="dropdown-item d-flex">
                                                        <div class="mr-3">
                                                            <a href="#">
                                                                <div class="avatar avatar-xs" style="width: 32px; height: 32px;">
                                                                    <span class="avatar-title rounded-circle">JD</span>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="flex">
                                                            <a href="#">Big Joe</a> <small class="text-muted">wrote:</small><br>
                                                            <div>Hey, how are you? What about our next meeting</div>
                                                            <small class="text-muted">2 minutes ago</small>
                                                        </div>
                                                    </div>

                                                    <div class="dropdown-item d-flex">
                                                        <div class="mr-3">
                                                            <div class="avatar avatar-sm" style="width: 32px; height: 32px;">
                                                                <img src="{% static 'assets/images/256_daniel-gaffey-1060698-unsplash.jpg'%}" alt="Avatar" class="avatar-img rounded-circle">
                                                            </div>
                                                        </div>
                                                        <div class="flex">
                                                            <a href="">A.Demian</a> left a comment on <a href="">Stack</a><br>
                                                            <small class="text-muted">1 minute ago</small>
                                                        </div>
                                                    </div>
                                                    <div class="dropdown-item d-flex">
                                                        <div class="mr-3">
                                                            <a href="#">
                                                                <div class="avatar avatar-xs" style="width: 32px; height: 32px;">
                                                                    <span class="avatar-title bg-purple rounded-circle"><i class="material-icons icon-16pt">person_add</i></span>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="flex">
                                                            New user <a href="#">Peter Parker</a> signed up.<br>
                                                            <small class="text-muted">1 hour ago</small>
                                                        </div>
                                                    </div>
                                                    <div class="dropdown-item d-flex">
                                                        <div class="mr-3">
                                                            <a href="#">
                                                                <div class="avatar avatar-xs" style="width: 32px; height: 32px;">
                                                                    <span class="avatar-title rounded-circle">JD</span>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="flex">
                                                            <a href="#">Big Joe</a> <small class="text-muted">wrote:</small><br>
                                                            <div>Hey, how are you? What about our next meeting</div>
                                                            <small class="text-muted">2 minutes ago</small>
                                                        </div>
                                                    </div>

                                                    <div class="dropdown-item d-flex">
                                                        <div class="mr-3">
                                                            <div class="avatar avatar-sm" style="width: 32px; height: 32px;">
                                                                <img src="{% static 'assets/images/256_daniel-gaffey-1060698-unsplash.jpg'%}" alt="Avatar" class="avatar-img rounded-circle">
                                                            </div>
                                                        </div>
                                                        <div class="flex">
                                                            <a href="">A.Demian</a> left a comment on <a href="">Stack</a><br>
                                                            <small class="text-muted">1 minute ago</small>
                                                        </div>
                                                    </div>
                                                    <div class="dropdown-item d-flex">
                                                        <div class="mr-3">
                                                            <a href="#">
                                                                <div class="avatar avatar-xs" style="width: 32px; height: 32px;">
                                                                    <span class="avatar-title bg-purple rounded-circle"><i class="material-icons icon-16pt">person_add</i></span>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="flex">
                                                            New user <a href="#">Peter Parker</a> signed up.<br>
                                                            <small class="text-muted">1 hour ago</small>
                                                        </div>
                                                    </div>
                                                    <div class="dropdown-item d-flex">
                                                        <div class="mr-3">
                                                            <a href="#">
                                                                <div class="avatar avatar-xs" style="width: 32px; height: 32px;">
                                                                    <span class="avatar-title rounded-circle">JD</span>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="flex">
                                                            <a href="#">Big Joe</a> <small class="text-muted">wrote:</small><br>
                                                            <div>Hey, how are you? What about our next meeting</div>
                                                            <small class="text-muted">2 minutes ago</small>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <a href="javascript:void(0);" class="dropdown-item text-center navbar-notifications-menu__footer">View All</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#events-drawer" data-toggle="sidebar" class="nav-link d-flex align-items-center">
                                            <i class="material-icons nav-icon">event_note</i>
                                            <span class="badge badge-warning text-primary-dark rounded-circle badge-notifications">3</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="dropdown">
                                    <a href="#" data-toggle="dropdown" data-caret="false" class="dropdown-toggle navbar-toggler navbar-toggler-company border-left d-flex align-items-center ml-navbar">
                                        <span class="rounded-circle">
                                            <span class="material-icons">business</span>
                                        </span>
                                    </a>
                                    <div id="company_menu" class="dropdown-menu dropdown-menu-right navbar-company-menu">
                                        <div class="dropdown-item d-flex align-items-center py-2 navbar-company-info py-3">

                                            <span class="mr-3">
                                                <img src="{% static 'assets/images/frontted-logo-blue.svg'%}" width="43" height="43" alt="avatar">
                                            </span>
                                            <span class="flex d-flex flex-column">
                                                <strong style="font-size: 1.125rem;">Frontted</strong>
                                                <small class="text-muted text-uppercase">8 Users</small>
                                            </span>

                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item d-flex align-items-center py-2" href="#">
                                            <span class="material-icons mr-2">settings</span> Settings
                                        </a>
                                        <a class="dropdown-item d-flex align-items-center py-2" href="#">
                                            <span class="material-icons mr-2">exit_to_app</span> Switch Company
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item d-flex align-items-center py-2" href="#">
                                            <span class="material-icons mr-2">add</span> New Company
                                        </a>
                                    </div>
                                </div>


                                           

                            </div>
                        </div>

                            <div class="d-flex justify-content-center">                              
                                {% block Myform %}        
                                {% endblock Myform %} 
                            </div>                  

        
                        
                    </div>
                </div>

                <!-- // END Header -->
              


               
            {% if messages %}            
                {% for message in messages %}
                    <div class="alert alert-{{message.extra_tags}} mb-2" role="alert">
                        {{message}}
                    </div>         
                             
                {% endfor %}       
            {% endif %}
    

                <!-- Header Layout Content -->

                {% block content %}
                
                                 
                {% endblock content %}
  
                


                <!-- // END header-layout__content -->

            </div>
            <!-- // END header-layout -->

        </div>
        <!-- // END drawer-layout__content -->

        <div class="mdk-drawer  js-mdk-drawer" id="default-drawer" data-align="start">
            <div class="mdk-drawer__content">
                <div class="sidebar sidebar-dark sidebar-left simplebar" data-simplebar>
                    <div class="d-flex align-items-center sidebar-p-a border-bottom sidebar-account flex-shrink-0">
                        <a href="{% url 'dashboard' %}" class="flex d-flex align-items-center text-underline-0 text-body">
                            <span class="mr-3">
                                <img src="{% static 'assets/images/logo.sv'%}g" width="43" height="43" alt="avatar">
                            </span>
                            <span class="flex d-flex flex-column">
                                <strong style="font-size: 1.125rem;">{{request.user.username}}</strong>
                                
                            </span>
                        </a>
                        <div class="dropdown ml-auto">
                            <a href="#" data-toggle="dropdown" data-caret="false" class="text-muted"><i class="material-icons">keyboard_arrow_down</i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-item-text dropdown-item-text--lh">
                                    <div><strong>{{request.user.username}}</strong></div>
                                    <div>{{request.user.email}}</div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item active" href="{% url 'dashboard' %}">Dashboard</a>
                                <a class="dropdown-item" href="profile.html">My profile</a>
                                <a class="dropdown-item" href="edit-account.html">Edit account</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-stats row no-gutters align-items-center text-center border-bottom flex-shrink-0">
                        <div class="sidebar-stats__col col">
                            <div class="sidebar-stats__title">Traffic</div>
                            <div class="sidebar-stats__value">49,401</div>
                        </div>
                        <div class="sidebar-stats__col col border-left">
                            <div class="sidebar-stats__title">Earnings</div>
                            <div class="sidebar-stats__value">$1,402</div>
                        </div>
                    </div>

                    {% if request.user.is_organizor %}
                    <div class="py-4 text-center flex-shrink-0">
                        <a style="min-width: 157px;" href="{% url 'leads:create-lead' %}" class="btn btn-primary">Create Lead <i class="material-icons ml-1">add</i></a>
                    </div>
                    {% endif %}
                   
                    <ul class="nav nav-tabs sidebar-tabs flex-shrink-0" role="tablist">
                        <li class="nav-item"><a class="nav-link active show" id="sm-menu-tab" href="#sm-menu" data-toggle="tab" role="tab" aria-controls="sm-menu" aria-selected="true">Menu</a></li>
                        <li class="nav-item"><a class="nav-link" href="#sm-account" data-toggle="tab">Account</a></li>
                        <li class="nav-item"><a class="nav-link" href="#sm-settings" data-toggle="tab">Settings</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="sm-menu" class="tab-pane show active" role="tabpanel" aria-labelledby="sm-menu-tab">
                            <ul class="sidebar-menu flex">
                                <li class="sidebar-menu-item active">
                                    <a class="sidebar-menu-button" href="{% url 'dashboard' %}">
                                        <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dvr</i>
                                        <span class="sidebar-menu-text">Dashboard</span>
                                    </a>
                                </li>



                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="{% url 'leads:category-lead' %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="sidebar-menu-icon sidebar-menu-icon--left material-icons" viewBox="0 0 16 16">
                                            <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                                          </svg>
                                        <span class="sidebar-menu-text">Categories</span>
                                    </a>
                                </li>

                                {% if request.user.is_organizor %}
                                    <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-button" href="{% url 'agents:agent-list' %}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="sidebar-menu-icon sidebar-menu-icon--left material-icons" viewBox="0 0 16 16">
                                                <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Zm9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z"/>
                                              </svg>
                                            <span class="sidebar-menu-text">Agents</span>
                                        </a>
                                    </li>
                                    
                                {% endif %}
                                
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="{% url 'leads:leads' %}">
                                        
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="sidebar-menu-icon sidebar-menu-icon--left material-icons" viewBox="0 0 16 16">
                                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                                          </svg>
                                        <span class="sidebar-menu-text">Leads</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div id="sm-account" class="tab-pane">
                            <ul class="sidebar-menu">
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="{% url 'leads:leads' %}">
                                        <span class="sidebar-menu-text">Leads</span>
                                    </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="edit-account.html">
                                        <span class="sidebar-menu-text">Payments</span>
                                    </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="edit-account.html">
                                        <span class="sidebar-menu-text">Billing</span>
                                    </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="edit-account.html">
                                        <span class="sidebar-menu-text">Change Password</span>
                                    </a>
                                </li>
                                <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-button" href="{% url 'logout' %}">
                                        <span class="sidebar-menu-text">Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div id="sm-settings" class="tab-pane sidebar-p-a">
                            <div class="form-inline form-group">
                                <label for="currency" class="text-label flex justify-content-start">Currency</label>
                                <select name="currency" id="currency" class="custom-select">
                                    <option selected="true" value="usd">USD</option>
                                    <option value="eur">EUR</option>
                                    <option value="gbp">GBP</option>
                                </select>
                            </div>
                            <div class="form-inline form-group">
                                <label for="show_tags" class="text-label flex justify-content-start">Show Tags</label>
                                <label for="show_tags">Yes</label>
                                <div class="custom-control custom-checkbox-toggle custom-control-inline ml-2 mr-0">
                                    <input checked="" type="checkbox" id="show_tags" class="custom-control-input">
                                    <label class="custom-control-label" for="show_tags">Yes</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="api_token" class="text-label flex justify-content-start">API Token</label>
                                <div class="input-group input-group-merge">
                                    <input id="api_token" type="password" required="" class="form-control form-control-appended" placeholder="Enter your token">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fa fa-eye"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="api_secret" class="text-label flex justify-content-start">API Secret</label>
                                <div class="input-group input-group-merge">
                                    <input id="api_secret" type="password" required="" class="form-control form-control-appended" placeholder="Enter your secret">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fa fa-eye"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="price_range" class="text-label flex justify-content-start">Price Range</label>
                                <input id="price_range" type="text" data-toggle="ion-rangeslider" data-min="0" data-max="100" data-from="50" data-step="5" data-max-postfix="+" data-prefix="$">
                            </div>
                            <div>
                                <label for="category" class="text-label flex justify-content-start">Default Category</label>
                                <select name="category" id="category" class="custom-select">
                                    <option selected="true" value="admin">Admin Dashboard</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="mt-auto sidebar-p-a sidebar-b-t d-flex flex-column flex-shrink-0">
                        <a class="sidebar-link mb-2" href="edit-account.html">Change Password</a>
                        <a class="sidebar-link mb-2" href="edit-account.html">Settings</a>
                        <a class="sidebar-link" href="{% url 'logout' %}">
                            Logout
                            <i class="sidebar-menu-icon ml-2 material-icons icon-16pt">exit_to_app</i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- // END drawer-layout -->

    <div class="mdk-drawer js-mdk-drawer" id="events-drawer" data-align="end">
        <div class="mdk-drawer__content">
            <div class="sidebar sidebar-light sidebar-left simplebar" data-simplebar>




                <small class="text-dark-gray px-3 py-1">
                    <strong>Thursday, 28 Feb</strong>
                </small>

                <div class="list-group list-group-flush">

                    <div class="list-group-item bg-light">
                        <div class="row">
                            <div class="col-auto d-flex flex-column">
                                <small>12:30 PM</small>
                                <small class="text-dark-gray">2 hrs</small>
                            </div>
                            <div class="col">
                                <div class="d-flex flex-column flex">
                                    <a href="#" class="text-body"><strong class="text-15pt">Marketing Team Meeting</strong></a>

                                    <small class="text-muted d-flex align-items-center"><i class="material-icons icon-16pt mr-1">location_on</i> 16845 Hicks Road</small>


                                </div>
                                <div class="avatar-group mt-2">

                                    <div class="avatar avatar-xs">
                                        <img src="{% static 'assets/images/256_joao-silas-636453-unsplash.jpg'%}" alt="Avatar" class="avatar-img rounded-circle">
                                    </div>

                                    <div class="avatar avatar-xs">
                                        <img src="{% static 'assets/images/256_jeremy-banks-798787-unsplash.jpg'%}" alt="Avatar" class="avatar-img rounded-circle">
                                    </div>

                                    <div class="avatar avatar-xs">
                                        <img src="{% static 'assets/images/256_daniel-gaffey-1060698-unsplash.jpg'%}" alt="Avatar" class="avatar-img rounded-circle">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <small class="text-dark-gray px-3 py-1">
                    <strong>Wednesday, 27 Feb</strong>
                </small>

                <div class="list-group list-group-flush">

                    <div class="list-group-item bg-light">
                        <div class="row">
                            <div class="col-auto d-flex flex-column">
                                <small>07:48 PM</small>
                                <small class="text-dark-gray">30 min</small>
                            </div>
                            <div class="col">
                                <div class="d-flex flex-column flex">
                                    <a href="#" class="text-body"><strong class="text-15pt">Call Alex</strong></a>


                                    <small class="text-muted d-flex align-items-center"><i class="material-icons icon-16pt mr-1">phone</i> 202-555-0131</small>

                                </div>



                            </div>
                        </div>
                    </div>

                </div>

                <small class="text-dark-gray px-3 py-1">
                    <strong>Tuesday, 26 Feb</strong>
                </small>

                <div class="list-group list-group-flush">

                    <div class="list-group-item bg-light">
                        <div class="row">
                            <div class="col-auto d-flex flex-column">
                                <small>03:13 PM</small>
                                <small class="text-dark-gray">2 hrs</small>
                            </div>
                            <div class="col">
                                <div class="d-flex flex-column flex">
                                    <a href="#" class="text-body"><strong class="text-15pt">Design Team Meeting</strong></a>

                                    <small class="text-muted d-flex align-items-center"><i class="material-icons icon-16pt mr-1">location_on</i> 16845 Hicks Road</small>


                                </div>
                                <div class="avatar-group mt-2">

                                    <div class="avatar avatar-xs">
                                        <img src="{% static 'assets/images/256_rsz_1andy-lee-642320-unsplash.jpg' %}" alt="Avatar" class="avatar-img rounded-circle">
                                    </div>

                                    <div class="avatar avatar-xs">
                                        <img src="{% static 'assets/images/256_michael-dam-258165-unsplash.jpg' %}" alt="Avatar" class="avatar-img rounded-circle">
                                    </div>

                                    <div class="avatar avatar-xs">
                                        <img src="{% static 'assets/images/256_luke-porter-261779-unsplash.jpg' %}" alt="Avatar" class="avatar-img rounded-circle">
                                    </div>

                                    <div class="avatar avatar-xs">
                                        <img src="{% static 'assets/images/stories/256_rsz_clem-onojeghuo-193397-unsplash.jpg' %}" alt="Avatar" class="avatar-img rounded-circle">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <small class="text-dark-gray px-3 py-1">
                    <strong>Monday, 25 Feb</strong>
                </small>

                <div class="list-group list-group-flush">

                    <div class="list-group-item bg-light">
                        <div class="row">
                            <div class="col-auto d-flex flex-column">
                                <small>12:30 PM</small>
                                <small class="text-dark-gray">2 hrs</small>
                            </div>
                            <div class="col d-flex">
                                <div class="d-flex flex-column flex">
                                    <a href="#" class="text-body"><strong class="text-15pt">Call Wendy</strong></a>


                                    <small class="text-muted d-flex align-items-center"><i class="material-icons icon-16pt mr-1">phone</i> 202-555-0131</small>

                                </div>


                                <div class="avatar avatar-xs">
                                    <img src="{% static 'assets/images/256_michael-dam-258165-unsplash.jpg' %}" alt="Avatar" class="avatar-img rounded-circle">
                                </div>


                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- App Settings FAB -->
    <div id="app-settings">
        <app-settings></app-settings>
    </div>

    <!-- jQuery -->
    <script src="{% static 'assets/vendor/jquery.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/vendor/popper.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap.min.js' %}"></script>

    <!-- Simplebar -->
    <script src="{% static 'assets/vendor/simplebar.min.js' %}"></script>

    <!-- DOM Factory -->
    <script src="{% static 'assets/vendor/dom-factory.js' %}"></script>

    <!-- MDK -->
    <script src="{% static 'assets/vendor/material-design-kit.js' %}"></script>

    <!-- Range Slider -->
    <script src="{% static 'assets/vendor/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'assets/js/ion-rangeslider.js' %}"></script>

    <!-- App -->
    <script src="{% static 'assets/js/toggle-check-all.js' %}"></script>
    <script src="{% static 'assets/js/check-selected-row.js' %}"></script>
    <script src="{% static 'assets/js/dropdown.js' %}"></script>
    <script src="{% static 'assets/js/sidebar-mini.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>

    <!-- App Settings (safe to remove) -->
    <script src="{% static 'assets/js/app-settings.js' %}"></script>



    <!-- Flatpickr -->
    <script src="{% static 'assets/vendor/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'assets/js/flatpickr.js' %}"></script>

    <!-- Global Settings -->
    <script src="{% static 'assets/js/settings.js' %}"></script>

    <!-- Chart.js -->
    <script src="{% static 'assets/vendor/Chart.min.js' %}"></script>

    <!-- App Charts JS -->
    <script src="{% static 'assets/js/chartjs-rounded-bar.js' %}"></script>
    <script src="{% static 'assets/js/charts.js' %}"></script>

    <!-- Vector Maps -->
    <script src="{% static 'assets/vendor/jqvmap/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jqvmap/maps/jquery.vmap.world.js' %}"></script>
    <script src="{% static 'assets/js/vector-maps.js' %}"></script>

    <!-- Chart Samples -->
    <script src="{% static 'assets/js/page.dashboard.js' %}"></script>

</body>

</html>