{% extends "base.html" %} {% block title %} Lead List {% endblock title %} 
{%block content %}

<!-- Header Layout Content -->



<div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page"
>

  <div class="container-fluid page__container">
    <div class="d-flex justify-content-between">
      <h1>Leads</h1>
      <hr>
      {% if request.user.is_organizor %}
      <a class="btn btn-primary m-2" href="{% url 'leads:create-lead' %}">Create Lead</a>
      {% endif %}
    </div>
    <div class="card card-form">
      <div class="row no-gutters">
        <div class="col-lg-12 card-form__body">
          <div
            class="table-responsive border-bottom"
            data-toggle="lists"
            data-lists-values='["js-lists-values-employee-name"]'
          >
            <table class="table mb-0 thead-border-top-0">
              <thead>
                <tr>
                  <th style="width: 18px">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input js-toggle-check-all"
                        data-target="#staff"
                        id="customCheckAll"
                      />
                      <label class="custom-control-label" for="customCheckAll"
                        ><span class="text-hide">Toggle all</span></label
                      >
                    </div>
                  </th>

                  <th>LEAD</th>

                  <th style="width: 37px">AGENT</th>
                  <th style="width: 37px">CATEGORY</th>
                  <th style="width: 120px">CREATED DATE</th>
                  <th style="width: 51px">Earnings</th>
                  <th style="width: 24px"></th>
                </tr>
              </thead>
              <tbody class="list" id="staff">
                {% for lead in leads %}                  
                    <tr class="selected">
                    <td>
                        <div class="custom-control custom-checkbox">
                        <input
                            type="checkbox"
                            class="custom-control-input js-check-selected-row"
                            
                            id="customCheck{{lead.id}}"
                        />
                        <label class="custom-control-label" for="customCheck{{lead.id}}"
                            ><span class="text-hide">Check</span></label
                        >
                        </div>
                    </td>

                    <td>
                     
                        <div class="media align-items-center">
                          {% if lead.image %}
                          <div class="avatar avatar-xs mr-2">                        
                            <img
                            src="{{lead.image.url}}"
                            alt="Avatar"
                            class="avatar-img rounded-circle"
                            />
                          </div> 
                          {% endif %}
                        <div class="media-body">
                          <a href="{% url 'leads:detail-lead' lead.id %}">
                            <span class="js-lists-values-employee-name"
                            >{{lead.first_name}} {{lead.last_name}}</span
                            >
                          </a>
                        </div>
                        </div>
                    </td>

                    <td>
                      <a href="{% url 'agents:detail-agent' pk=lead.agent.user.id%}">
                        <span>{{lead.agent.user.username}}</span>
                      </a>
                    </td>
                    <td><span class="{{lead.category.html_class}}">{{lead.category}}</span></td>
                    <td><small class="text-muted">{{lead.date_added}}</small></td>
                    <td>&dollar;12,402</td>
                    <td>
                      <div class="dropdown ml-auto">
                        <a href="#" data-toggle="dropdown" data-caret="false" class="text-muted"><i class="material-icons">more_vert</i></a>
                        
                        <div class="dropdown-menu dropdown-menu-right">
                           
                            
                            <a class="dropdown-item active" href="{% url 'leads:update-lead' pk=lead.id %}">Edit</a>
                            <a class="dropdown-item" href="{% url 'leads:delete-lead' pk=lead.id %}">Delete</a>
                            <a class="dropdown-item" href="{% url 'leads:detail-lead' pk=lead.id %}">View</a>
                            
                        </div>
                    </div>
                   
                    </td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

      <!-- Unassign leads -->
      {% if unassign_leads %}
        <h1>Unassign leads</h1> <hr>

        <div class="card card-form">
          <div class="row no-gutters">
            <div class="col-lg-12 card-form__body">
              <div
                class="table-responsive border-bottom"
                data-toggle="lists"
                data-lists-values='["js-lists-values-employee-name"]'
              >
                <table class="table mb-0 thead-border-top-0">
                  <thead>
                    <tr>
                      <th style="width: 18px">
                        <div class="custom-control custom-checkbox">
                          <input
                            type="checkbox"
                            class="custom-control-input js-toggle-check-all"
                            data-target="#staff"
                            id="customCheckAll"
                          />
                          <label class="custom-control-label" for="customCheckAll"
                            ><span class="text-hide">Toggle all</span></label
                          >
                        </div>
                      </th>
    
                      <th>LEAD</th> 
                      <th style="width: 37px">AGENT</th>
                      <th style="width: 37px">CATEGORY</th>
                      <th style="width: 120px">CREATED DATE</th>
                      <th style="width: 51px">Earnings</th>
                      <th style="width: 24px"></th>
                    </tr>
                  </thead>
                  <tbody class="list" id="staff">
                    {% for lead in unassign_leads %}                  
                        <tr class="selected">
                        <td>
                            <div class="custom-control custom-checkbox">
                            <input
                                type="checkbox"
                                class="custom-control-input js-check-selected-row"
                                
                                id="customCheck{{lead.id}}"
                            />
                            <label class="custom-control-label" for="customCheck{{lead.id}}"
                                ><span class="text-hide">Check</span></label
                            >
                            </div>
                        </td>
    
                        <td>
                            <div class="media align-items-center">
                              {% if lead.image %}
                                <div class="avatar avatar-xs mr-2">
                                  <img
                                  src="{{lead.image.url}}"
                                  alt="Avatar"
                                  class="avatar-img rounded-circle"
                                  />
                                </div>
                              {% endif %}
                        
                            <div class="media-body">
                              <a href="{% url 'leads:detail-lead' lead.id %}">
                                <span class="js-lists-values-employee-name"
                                >{{lead.first_name}} {{lead.last_name}}</span
                                >
                              </a>
                               
                            </div>
                            </div>
                        </td>
                        
                        <td>                        
                          {% if lead.agent.user.id %}
                          <a href="{% url 'agents:detail-agent' pk=lead.agent.user.id%}">
                            <span>{{lead.agent.user.username}}</span>
                          </a>
                          {%else%}
                            <p>empty</p>
                          {% endif %}
                        </td>
                        
                        <td><span class="{{lead.category.html_class}}">{{lead.category}}</span></td>
                        <td><small class="text-muted">{{lead.date_added}}</small></td>
                        <td>&dollar;12,402</td>
                        <td>
                          <div class="dropdown ml-auto">
                            <a href="#" data-toggle="dropdown" data-caret="false" class="text-muted"><i class="material-icons">more_vert</i></a>
                            
                            <div class="dropdown-menu dropdown-menu-right">
                               
                                
                               
                                {% if request.user.is_organizor %}                                  
                                  <a class="dropdown-item" href="{% url 'leads:assign-lead' pk=lead.id %}">Assign</a>

                                {% else %}
                                  <a class="dropdown-item active" href="{% url 'leads:update-lead' pk=lead.id %}">Edit</a>
                                  <a class="dropdown-item" href="{% url 'leads:delete-lead' pk=lead.id %}">Delete</a>
                                  <a class="dropdown-item" href="{% url 'leads:detail-lead' pk=lead.id %}">View</a>
                                {% endif %}
                                
                            </div>
                        </div>
                       
                        </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        
      {% endif %}

  </div>
</div>
<!-- // END header-layout__content -->

{% endblock content %}
