{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %}


{% block content %}
<div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page">
  <div class="container-fluid page__container">


<div class="layout-login-centered-boxed">
  <div class="layout-login-centered-boxed__form">
    <div class="card card-body">
      <div class="d-flex justify-content-between">
        <h1>Create Lead</h1>
        <hr>
      </div>
      <div class="d-flex align-items-center mt-2">
        <form action="." method="post" enctype="multipart/form-data">
          {% csrf_token %} {{form|crispy}}
          <input type="submit" />
        </form>
      </div>
    </div>
  </div>
</div>

</div>div>
</div>div>

{% endblock content %}
