{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %}
<h1>Assign Lead to Agent</h1>
<hr />

{% block content %}
<div class="layout-login-centered-boxed">
  <div class="layout-login-centered-boxed__form">

    <div class="card card-body">
     
      <div class="d-flex align-items-center mt-2">
          <!-- form -->
          <form action="." method="post">
            {% csrf_token %} {{form|crispy}}
            <input type="submit" />
          </form>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}
</div>
